.container {
  @apply flex 
  items-center 
  px-4 
  sticky 
  top-0 
  bg-white
  border-b 
  border-gray-mid 

  dark:bg-dim-primary-dark 
  dark:border-dim-primary-xlight;
}

.avatar {
  @apply sm:hidden;
}

.search {
  @apply mx-6 

  sm:w-full 
  sm:ml-0
  sm:mr-8;
}

.title {
  @apply flex 
  flex-col 
  ml-6 
  mr-auto 
  
  sm:ml-0;
}
