.container {
  @apply flex
  items-center
  p-3
  rounded-full 
  transition-colors 
  ease-out
  
  hover:bg-hover-blue 
  hover:text-blue 

  focus:bg-hover-blue 
  focus:text-blue;
}

.primary {
  @apply flex
  justify-center
  items-center
  min-h-[30px]
  w-[75px]
  px-4
  bg-blue

  hover:bg-blue-dark
  hover:text-white;
}

.full {
  @apply w-full !important;
}
