.container {
  @apply grid 
  grid-cols-1 
  justify-center
  h-screen 
  bg-white

  sm:grid-cols-layout-sm
  md:grid-cols-layout-md 
  lg:grid-cols-layout-lg
  
  dark:bg-dim-primary-dark;
}

.inner {
  @apply grid 
  grid-cols-1 
  grid-rows-layout-inner-xs 
  sm:grid-rows-layout-inner-sm;
}
