.container {
  @apply hidden 
  sticky 
  top-0 
  left-0 
  bg-white
  bottom-0
  border-r 
  border-gray-mid 

  sm:flex
  
dark:bg-dim-primary-dark 
dark:border-dim-primary-xlight;
}

.inner {
  @apply flex 
  flex-col
  items-center
  w-full
  
  lg:items-start
  lg:pr-3
  lg:pb-3;
}

.navbarItem {
  @apply py-1;
}

.text {
  @apply ml-5
  mr-4
  hidden
  
  lg:flex;
}

.tweetButton {
  @apply h-12
  mt-5
  mb-4
  w-12
  text-white
  shadow-navbarTweetButton

  lg:w-[225px];
}

.tweetButtonText {
  @apply hidden 
  
  lg:flex;
}

.tweetButtonIcon {
  @apply flex 
  
  lg:hidden;
}

.userSection {
  @apply flex
  items-center
  justify-center
  mt-auto

  lg:justify-start;
}

.userSectionUserDetails {
  @apply hidden 
  flex-col
  ml-3

  lg:flex;
}

.userSectionMoreIcon {
  @apply hidden
  ml-auto

  lg:flex;
}
