.container {
  @apply hidden 
  sticky 
  top-0 
  left-0 
  bg-white
  bottom-0
  border-r 
  border-gray-mid 

  sm:flex
  
dark:bg-dim-primary-dark 
dark:border-dim-primary-xlight;
}

.inner {
  @apply flex 
  flex-col
  items-start
  pr-3
  pb-3
  w-full;
}

.text {
  @apply ml-5
  mr-4
  hidden
  
  lg:flex;
}

.tweetButton {
  @apply h-12
  mt-2
  max-w-[225px];
}

.userSection {
  @apply flex
  items-center
  mt-auto;
}

.userSectionUserDetails {
  @apply flex
  flex-col
  ml-3;
}

.userSectionMoreIcon {
  @apply ml-auto;
}
