.container {
  @apply hidden 
  sticky 
  top-0 
  left-0 
  bg-white
  bottom-0
  border-r 
  border-gray-mid 

  sm:flex
  
dark:bg-dim-primary-dark 
dark:border-dim-primary-xlight;
}

.inner {
  @apply flex 
  flex-col
  items-start
  px-3;
}

.text {
  @apply ml-5
  mr-4
  hidden
  
  lg:flex;
}
